{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="text-center text-uppercase fs-1 text-primary">Add task</h1>
    <div class="col-8 m-auto">
        {{ form_start(form) }}
        <div>
            {{ form_row(form.name) }}
        </div>
        <div>
            {{ form_row(form.createdAt) }}
        </div>
        <div>
            {{ form_row(form.description) }}
        </div>
        <div>
            {{ form_row(form.state) }}
        </div>
        <div class="fs-3 text-center">
            <button type="submit" class="btn btn-primary">add task</button>
        </div>
        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
